<div style="height: 100%">
  <div class="flex py-3 px-4">
    <div class="flex-1">
      <img
        src="logo/logo-white.png"
        alt="OmniQuery Logo"
        class="w-[80px] h-auto"
      />
    </div>
    <div class="flex-1 text-right">
      <button mat-flat-button>Download</button>
    </div>
  </div>

  <h1 class="title text-center w-full">
    Grab Your Free, Open-Source Database Client
    <span class="bg-[#007acc] p-1 rounded-lg"> that does not suck</span>. Try it
    out below.
  </h1>

  <div class="w-full mx-auto h-[680px] mt-5">
    <iframe
      width="w-full"
      height="680"
      src="https://omniquery-web.pages.dev/explore/01918e51-757f-7773-809c-d13a82f93252?toolbarHidden=true"
    ></iframe>
  </div>

  <footer>
    <div class="flex justify-center items-center py-3">
      &#169;2024 omniquery.io
    </div>
  </footer>
</div>
